/*box 1*/

.box {
    width: 360px;
    height: 260px;
    background: #69490c;
    top: 1520px;
    left: 230px;
    margin-right: auto;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.box:hover {
    background-color: #c8a35f;
    cursor: pointer;
}
a.box1button {
    margin-left: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #2F343A;
    box-shadow: 0 -3px #583b00 inset;
    transition: 1s;
} 
a.box1button:hover { background: #69490c; }
a.box1button:active {
    background: #69490c;
    box-shadow: 0 3px #69490c inset;
}
.png-noytgps {
    width: 200px;
    left: 200px;
    margin-left: 170px;
    margin-top: -100px;
}
.box-text1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 150%;
    height: 0px;
    left: 200px;
    top: 1140px;    
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.box-text2 {
    margin-bottom: 130px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 130%;
    height: 0px;
    left: 200px;
    top: 200px;    
    letter-spacing: 0.10em;
    color: #FFFFFF;
}

/* box 2 */

.box2 {
    width: 360px;
    height: 260px;
    background: #69490c;
    top: 1420px;
    left: 600px;
    margin-right: auto;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.box2:hover {
    background-color: #c8a35f;
    cursor: pointer;
}
.box2-text1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 150%;
    height: 0px;
    left: 200px;
    top: 1140px;    
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.box2-text2 {
    margin-bottom: 130px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 130%;
    height: 0px;
    left: 200px;
    top: 200px;    
    letter-spacing: 0.10em;
    color: #FFFFFF;
}
a.box2button {
    margin-left: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #2F343A;
    box-shadow: 0 -3px #583b00 inset;
    transition: 1s;
} 
a.box2button:hover { background: #69490c; }
a.box2button:active {
    background: #69490c;
    box-shadow: 0 3px #69490c inset;
}
.png-pogryshik {
    width: 220px;
    margin-left: 160px;
    margin-top: -80px;
}

/* box 3 */

.box3 {
    width: 360px;
    height: 260px;
    background: #69490c;
    top: 1420px;
    left: 970px;
    margin-right: auto;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.box3:hover {
    background-color: #c8a35f;
    cursor: pointer;
}
.box3-text1 {
    text-align: center;
    margin-bottom: 80px;
    padding-top: 20px;
    font-size: 150%;
    height: 0px;
    left: 200px;
    top: 1140px;    
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.box3-text2 {
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 130%;
    height: 0px;
    left: 200px;
    top: 200px;    
    letter-spacing: 0.10em;
    color: #FFFFFF;
}
a.box3button {
    margin-left: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #2F343A;
    box-shadow: 0 -3px #583b00 inset;
    transition: 1s;
} 
a.box3button:hover { background: #69490c; }
a.box3button:active {
    background: #69490c;
    box-shadow: 0 3px #69490c inset;
}
.png-fyraa {
    width: 230px;
    margin-left: 140px;
    margin-top: -105px;
}

/* box 4 */

.box4 {
    width: 360px;
    height: 260px;
    background: #69490c;
    top: 1420px;
    left: 1340px;
    margin-right: auto;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.box4:hover {
    background-color: #c8a35f;
    cursor: pointer;
}
.box4-text1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 150%;
    height: 0px;
    left: 200px;
    top: 1140px;    
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.box4-text2 {
    margin-bottom: 130px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 130%;
    height: 0px;
    left: 200px;
    top: 200px;    
    letter-spacing: 0.10em;
    color: #FFFFFF;
}
a.box4button {
    margin-left: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #2F343A;
    box-shadow: 0 -3px #583b00 inset;
    transition: 1s;
} 
a.box4button:hover { background: #69490c; }
a.box4button:active {
    background: #69490c;
    box-shadow: 0 3px #69490c inset;
}
.png-fyralike {
    width: 190px;
    margin-left: 200px;
    margin-top: -105px;
}

/* box 5 */

.box5 {
    width: 360px;
    height: 260px;
    background: #69490c;
    top: 1695px;
    left: 230px;
    margin-right: auto;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.box5:hover {
    background-color: #c8a35f;
    cursor: pointer;
}
.box5-text1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 150%;
    height: 0px;
    left: 200px;
    top: 1140px;    
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.box5-text2 {
    margin-bottom: 130px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 130%;
    height: 0px;
    left: 200px;
    top: 200px;    
    letter-spacing: 0.10em;
    color: #FFFFFF;
}
a.box5button {
    margin-left: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #2F343A;
    box-shadow: 0 -3px #583b00 inset;
    transition: 1s;
} 
a.box5button:hover { background: #69490c; }
a.box5button:active {
    background: #69490c;
    box-shadow: 0 3px #69490c inset;
}
.png-karobki {
    width: 230px;
    margin-left: 160px;
    margin-top: -105px;
}

/* box 6 */

.box6 {
    width: 360px;
    height: 260px;
    background: #69490c;
    top: 1695px;
    left: 600px;
    margin-right: auto;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.box6:hover {
    background-color: #c8a35f;
    cursor: pointer;
}
.box6-text1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 150%;
    height: 0px;
    left: 200px;
    top: 1140px;    
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.box6-text2 {
    margin-bottom: 130px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 130%;
    height: 0px;
    left: 200px;
    top: 200px;    
    letter-spacing: 0.10em;
    color: #FFFFFF;
}
a.box6button {
    margin-left: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #2F343A;
    box-shadow: 0 -3px #583b00 inset;
    transition: 1s;
} 
a.box6button:hover { background: #69490c; }
a.box6button:active {
    background: #69490c;
    box-shadow: 0 3px #69490c inset;
}
.png-ludi {
    width: 210px;
    margin-left: 180px;
    margin-top: -95px;
}

/* box 7 */

.box7 {
    width: 360px;
    height: 260px;
    background: #69490c;
    top: 1695px;
    left: 970px;
    margin-right: auto;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.box7:hover {
    background-color: #c8a35f;
    cursor: pointer;
}
.box7-text1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 150%;
    height: 0px;
    left: 200px;
    top: 1140px;    
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.box7-text2 {
    margin-bottom: 130px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 130%;
    height: 0px;
    left: 200px;
    top: 200px;    
    letter-spacing: 0.10em;
    color: #FFFFFF;
}
a.box7button {
    margin-left: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #2F343A;
    box-shadow: 0 -3px #583b00 inset;
    transition: 1s;
} 
a.box7button:hover { background: #69490c; }
a.box7button:active {
    background: #69490c;
    box-shadow: 0 3px #69490c inset;
}
.png-cheklist {
    width: 230px;
    margin-left: 130px;
    margin-top: -85px;
}

/* box 8 */

.box8 {
    width: 360px;
    height: 260px;
    background: #69490c;
    top: 1695px;
    left: 1340px;
    margin-right: auto;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.box8:hover {
    background-color: #c8a35f;
    cursor: pointer;
}
.box8-text1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 150%;
    height: 0px;
    left: 200px;
    top: 1140px;    
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.box8-text2 {
    margin-bottom: 130px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 130%;
    height: 0px;
    left: 200px;
    top: 200px;    
    letter-spacing: 0.10em;
    color: #FFFFFF;
}
a.box8button {
    margin-left: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #2F343A;
    box-shadow: 0 -3px #583b00 inset;
    transition: 1s;
} 
a.box8button:hover { background: #69490c; }
a.box8button:active {
    background: #69490c;
    box-shadow: 0 3px #69490c inset;
}
.png-telephongps {
    width: 230px;
    margin-left: 165px;
    margin-top: -85px;
}

/* Медиа запросы !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width:1550px) {
    .cart {
        width: 300px;
    }

    .box {
            width: 300px;
            height: 210px;
        }
        .box-text1 {
            font-size: 120%;
        }
        .box-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box1button {
            font-size: 85%;
        }
        .png-noytgps {
            width: 150px;
            margin-left: 150px;
            margin-top: -80px;
    }

    .box2 {
            width: 300px;
            height: 210px;
        }
        .box2-text1 {
            font-size: 120%;
        }
        .box2-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box2button {
            font-size: 85%;
        }
        .png-pogryshik {
            width: 180px;
            margin-left: 140px;
            margin-top: -66px;
    }

    .box3 {
            width: 300px;
            height: 210px;  
        }
        .box3-text1 {
            font-size: 120%;
            margin-bottom: 70px;
        }
        .box3-text2 {
            font-size: 100%;
            margin-bottom: 65px;
        }
        a.box3button {
            font-size: 85%;
        }
        .png-fyraa {
            width: 170px;
            margin-left: 130px;
            margin-top: -70px;
    }
    
    .box4 {
            width: 300px;
            height: 210px;
        }
        .box4-text1 {
            font-size: 120%;
        }
        .box4-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box4button {
            font-size: 85%;
        }
        .png-fyralike {
            width: 150px;
            margin-left: 160px;
            margin-top: -66px;
    }

    .box5 {
            width: 300px;
            height: 210px;
        }
        .box5-text1 {
            font-size: 120%;
        }
        .box5-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box5button {
            font-size: 85%;
        }
        .png-karobki {
            width: 190px;
            margin-left: 150px;
            margin-top: -80px;
    }

    .box6 {
            width: 300px;
            height: 210px;
        }
        .box6-text1 {
            font-size: 120%;
        }
        .box6-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box6button {
            font-size: 85%;
        }
        .png-ludi {
            width: 170px;
            margin-left: 166px;
            margin-top: -70px;
    }

    .box7 {
            width: 300px;
            height: 210px;
        }
        .box7-text1 {
            font-size: 120%;
        }
        .box7-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box7button {
            font-size: 85%;
        }
        .png-cheklist {
            width: 190px;
            margin-left: 150px;
            margin-top: -75px;
    }

    .box8 {
            width: 300px;
            height: 210px;
        }
        .box8-text1 {
            font-size: 120%;
        }
        .box8-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box8button {
            font-size: 85%;
        }
        .png-telephongps {
            width: 190px;
            margin-left: 140px;
            margin-top: -70px;
    }
}

@media (max-width:1550px) {
    .cart {
        width: 250px;
    }
}

@media (max-width:1400px) {
    .box {
            width: 280px;
            height: 210px;
        }
        .box-text1 {
            font-size: 120%;
        }
        .box-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box1button {
            font-size: 85%;
        }
        .png-noytgps {
            width: 150px;
            margin-left: 140px;
            margin-top: -66px;
    }

    .box2 {
            width: 280px;
            height: 210px;
        }
        .box2-text1 {
            font-size: 120%;
        }
        .box2-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box2button {
            font-size: 85%;
        }
        .png-pogryshik {
            width: 180px;
            margin-left: 130px;
            margin-top: -55px;
    }

    .box3 {
            width: 280px;
            height: 210px;  
        }
        .box3-text1 {
            font-size: 120%;
            margin-bottom: 70px;
        }
        .box3-text2 {
            font-size: 100%;
            margin-bottom: 65px;
        }
        a.box3button {
            font-size: 85%;
        }
        .png-fyraa {
            width: 170px;
            margin-left: 130px;
            margin-top: -70px;
    }

    .box4 {
            width: 280px;
            height: 210px;
        }
        .box4-text1 {
            font-size: 120%;
        }
        .box4-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box4button {
            font-size: 85%;
        }
        .png-fyralike {
            width: 150px;
            margin-left: 160px;
            margin-top: -66px;
    }

    .box5 {
            width: 280px;
            height: 210px;
        }
        .box5-text1 {
            font-size: 120%;
        }
        .box5-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box5button {
            font-size: 85%;
        }
        .png-karobki {
            width: 190px;
            margin-left: 130px;
            margin-top: -80px;
    }

    .box6 {
            width: 280px;
            height: 210px;
        }
        .box6-text1 {
            font-size: 120%;
        }
        .box6-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box6button {
            font-size: 85%;
        }
        .png-ludi {
            width: 170px;
            margin-left: 155px;
            margin-top: -64px;
    }

    .box7 {
            width: 280px;
            height: 210px;
        }
        .box7-text1 {
            font-size: 120%;
        }
        .box7-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box7button {
            font-size: 85%;
        }
        .png-cheklist {
            width: 190px;
            margin-left: 150px;
            margin-top: -75px;
    }

    .box8 {
            width: 280px;
            height: 210px;
        }
        .box8-text1 {
            font-size: 120%;
        }
        .box8-text2 {
            font-size: 100%;
            margin-bottom: 85px;
        }
        a.box8button {
            font-size: 85%;
        }
        .png-telephongps {
            width: 190px;
            margin-left: 140px;
            margin-top: -70px;
    }
}

