/* Медиа контент */

@media (max-width:1718px) {
  .conteiner {
    max-width: 1450px;
  }

  .header-info {
    margin-left: 100px;
    margin-right: 100px;
  }

  .logo-ty {
    margin-left: -260px;
    }
    .logo-polosa {
    margin-left: -250px;
    }
    .logo-gps {
    margin-left: -210px;
    }
    .tecst-gps {
    margin-left: -210px;
  }

  .utyber {
    margin-left: 50px;
    margin-right: 50px;
  }

  .trackico {
    margin-left: 5px;
    }
    .info-kvadrat h3 {
      font-size: 350%;
    }
    .info-kvadrat p {
      font-size: 140%;
  }
  
  .cart {
    margin-left: -50px;
  }
  .education-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width:1678px) {

  .trackico {
    margin-left: 5px;
  }
  .info-kvadrat h3 {
    font-size: 340%;
  }
  .info-kvadrat p {
    font-size: 130%;
  }
}

@media (max-width:1624px) {
  .conteiner {
    max-width: 1400px;
  }

  .cart {
    margin-left: -60px;
  }
}

@media (max-width:1586px) {
  .trackico {
    margin-left: 70px;
  }
  .info-kvadrat h3 {
    margin-left: 70px;
  }
  .info-kvadrat p {
    margin-left: 70px;
  }
  .palka {
    margin-left: 150px;
  }
  .tyda-cuda {
    margin-right: 150px;
  }
}

@media (max-width:1550px) {
  .conteiner {
    max-width: 1340px;
  }

  .logo-ty {
    margin-left: -220px;
    }
    .logo-polosa {
    margin-left: -200px;
    }
    .logo-gps {
    margin-left: -170px;
    }
    .tecst-gps {
    margin-left: -170px;
  }

  .utyber {
    margin-left: 10px;
    margin-right: 10px;
  }

  .education-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cart {
    margin-left: 20px;
    margin-top: 10px;
  }

  .flag {
    width: 120px;
    height: 80px;
  }
}

@media (max-width:1500px) {
  .conteiner {
    max-width: 1300px;
  }
}

@media (max-width:1480px) {
  .trackico {
    margin-left: 20px;
  }
  .info-kvadrat h3 {
    margin-left: 20px;
  }
  .info-kvadrat p {
    margin-left: 20px;
  }
  .palka {
    margin-left: 80px;
  }
  .tyda-cuda {
    margin-right: 120px;
  }
}

@media (max-width:1442px) {
  .conteiner {
    max-width: 1250px;
  }

  .logo-ty {
    margin-left: -170px;
    }
    .logo-polosa {
    margin-left: -160px;
    }
    .logo-gps {
    margin-left: -120px;
    }
    .tecst-gps {
    margin-left: -120px;
  }
}

@media (max-width:1400px) {
  .conteiner {
    max-width: 1200px;
  }

  .logo-ty {
    margin-left: -140px;
    }
    .logo-polosa {
    margin-left: -130px;
    }
    .logo-gps {
    margin-left: -100px;
    }
    .tecst-gps {
    margin-left: -100px;
  }
}

@media (max-width:1340px) {
  .trackico {
    margin-left: 100px;
    height: 250px;
    width: 420px;
  }
  .info-kvadrat h3 {
    font-size: 280%;
    margin-left: 20px;
  }
  .info-kvadrat p {
    font-size: 110%;
    margin-left: 20px;
  }
  .palka {
    margin-left: 80px;
  }
  .tyda-cuda {
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width:1333px) {
  .conteiner {
    max-width: 1250px;
  }
}

@media (max-width:1300px) {
  .conteiner {
    max-width: 1100px;
  }
  .logo-ty {
    margin-left: -80px;
    }
    .logo-polosa {
    margin-left: -60px;
    }
    .logo-gps {
    margin-left: -30px;
    }
    .tecst-gps {
    margin-left: -30px;
  }
}

@media (max-width:1340px) {
  .trackico {
    margin-left: 100px;
    margin-bottom: 100px;
    height: 240px;
    width: 400px;
  }
  .info-kvadrat h3 {
    font-size: 280%;
    margin-left: 5px;
  }
  .info-kvadrat p {
    font-size: 110%;
    margin-left: 5px;
  }
  .palka {
    margin-left: 40px;
  }
  .tyda-cuda {
    margin-right: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width:1230px) {
  .conteiner {
    max-width: 1050px;
  }

  .logo-ty {
    margin-left: -50px;
    }
    .logo-polosa {
    margin-left: -30px;
    }
    .logo-gps {
    margin-left: 5px;
    }
    .tecst-gps {
    margin-left: 5px;
  }
}

@media (max-width:1200px) {
  .conteiner {
    max-width: 1000px;
  }

  .logo-ty {
    margin-left: -30px;
    }
    .logo-polosa {
    margin-left: -20px;
    }
    .logo-gps {
    margin-left: 5px;
    }
    .tecst-gps {
    margin-left: 5px;
  }

  .info-kvadrat {
    height: 400px;
  }

  .trackico {
      margin-left: 100px;
      margin-bottom: 100px;
      height: 240px;
      width: 400px;
    }
    .info-kvadrat h3 {
      font-size: 250%;
      margin-left: 1px;
    }
    .info-kvadrat p {
      font-size: 100%;
      margin-left: 1px;
    }
    .palka {
      width: 120px;
      margin-left: 40px;
      margin-top: -20px;
    }
    .tyda-cuda {
      margin-right: 20px;
      margin-top: 80px;
      margin-bottom: 80px;
    }
}

@media (max-width:1122px) {
  .info-kvadrat {
    height: 400px;
  }

  .trackico {
    margin-left: 130px;
    margin-bottom: 100px;
    height: 240px;
    width: 400px;
  }
  .info-kvadrat h3 {
    font-size: 230%;
    margin-left: -20px;
  }
  .info-kvadrat p {
    font-size: 100%;
    margin-left: -20px;
  }
  .palka {
    width: 120px;
    height: 10px;
    margin-left: 40px;
    margin-top: -20px;
  }
  .tyda-cuda {
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .logo {
    margin-left: -50px;
    }
    .logo-ty {
    margin-left: -40px;
    margin-top: -70px;
    }
    .logo-polosa {
    margin-left: -20px;
    }
    .logo-gps {
    margin-left: 10px;
    }
    .tecst-gps {
    margin-left: 10px;
  }
}

@media (max-width:1108px) {
  .logo {
    margin-left: 10px;
  }
  .logo-ty {
    display: none;
    }
    .logo-polosa {
    margin-left: -110px;
    }
    .logo-gps {
      display: none;
    }
    .tecst-gps {
    margin-left: -100px;
  }

  .trackico {
    margin-left: 130px;
    margin-bottom: 100px;
    height: 240px;
    width: 400px;
  }
  .info-kvadrat h3 {
    font-size: 200%;
    margin-left: 15px;
  }
  .info-kvadrat p {
    font-size: 90%;
    margin-left: 15px;
  }
  .tyda-cuda {
    width: 120px;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-right: 50px;
  }
}

@media (max-width:1044px) {
  .logo-ty {
    margin-left: -30px;
    }
    .logo-polosa {
    margin-left: -10px;
    }
    .logo-gps {
    margin-left: 15px;
    }
    .tecst-gps {
    margin-left: 20px;
  }
}

@media (max-width:1080px) {
  .education-info {
    width: 800px;
  }
  .tyda-cuda {
    margin-right: 0px;
  }
  .trackico {
    margin-left: 80px;
  }
  .palka2 {
    margin-left: 80px;
  }
}

@media (max-width:992px) {

  .education-info {
    padding: 30px 0 20x 0;
  }
    .logo-polosa {
      display: none;
    }
    .tecst-gps {
     margin-left: -100px;
  }
}

@media (max-width:980px) {
  .trackico {
    margin-left: 100px;
  }
  .info-kvadrat h3 {
    font-size: 160%;
  }
  .info-kvadrat p {
    font-size: 90%;
    margin-left: 15px;
  }
  .tyda-cuda {
    margin-right: 20px;
  }
}

@media (max-width:950px) {
  .tyda-cuda {
    margin-right: 0px;
  }
}

@media (max-width:940px) {
  .tyda-cuda {
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .trackico {
    margin-left: 100px;
    width: 320px;
    height: 200px;
  }
  .info-kvadrat h3 {
    font-size: 150%;
  }
  .info-kvadrat p {
    font-size: 80%;
    margin-left: 15px;
  }
}

@media (max-width:940px) {
  .tecst-gps {
    margin-left: -20px;
 }
  .flag {
    width: 90px;
    height: 60px;
  }
  h1 {
    font-size: 300%;
  }
  .cours-info p {
    font-size: 100%;
  }
}

@media (max-width:840px) {
  .tyda-cuda {
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .trackico {
    margin-left: 50px;
    width: 320px;
    height: 200px;
  }
}
  
@media (max-width:768px) {

  .contacts {
      flex-direction: column;
    }
    .contacts a {
      margin-bottom: 5px;
    }
    .contacts button {
      margin-top: 20px;
  }

  .buttons {
      height: 100px;
      flex-direction: column;
      align-items: center;
  }

  .cours-info {
      height: 315px;
      background-position-x: 140%;
    }

    .cours-info h1 {
      font-size: 25px;
      text-align: center;
    }
    .cours-info p {
      text-align: center;
  }

  footer p {
      width: 100px;
      font-size: 10px;
      text-align: center;
  }
}

@media (max-width:500px) {
  .cours-info {
      height: 315px;
      background-position-x: 200%;
  }
}

@media (max-width:425px) {
  .logo {
    width: 90px;
    height: 90px;
    margin: 0;
    margin-top: -20px;
  }

  .tecst-gps {
    display: none;
  }

  .header-info {
    font-size: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .utyber {
    margin-top: -38px;
  }
    .diman {
      width: 130px;
      height: 100px;
    }
    .lisoagnida {
      width: 130px;
      height: 100px;
  }

  .info-kvadrat {
    background-image: url('./../images/infor/kvadrati.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    margin-top: -112px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    background-image: url('./../images/header/Track.jpg');
    background-repeat: no-repeat;
    background-position: center 65px;
    background-size: 200%;
  }

  .cours-info {
    height: 150px;
  }

  .cours-info p {
    font-size: 75%;
    letter-spacing: 0.15em;
    margin-top: -15px;
  }

  h1 {
    font-size: 100%;
    letter-spacing: 0.15em;
    margin-bottom: 30px;
    margin-top: -50px;
  }

  .palka {
    width: 50px;
    height: 5px;
    margin-left: 30px;
    margin-top: -15px;
  }
  .palka2 {
    display: none;
  }
  .trackico {
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: -10px;
      width: 150px;
      height: 100px;
    }
    .info-kvadrat h3 {
      font-size: 120%;
      margin-left: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .info-kvadrat p {
      font-size: 50%;
      margin-left: 10px;
    }
    .tyda-cuda {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 50px;
      width: 50px;
      height: 10px;
  }

  .flag {
    width: 60px;
    height: 40px;
    margin-bottom: 20px;
  }

  .fyri {
    width: 300px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: -50px;
  }
}